body{
  font-family: 'Montserrat', sans-serif;
}

nav {
    background: #444;
    width: 100%;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block; 
    list-style-type: none; 
    margin: 0;
    padding: 10px 0; 
}
    nav ul li:hover {
        background: #03ADDF; 
    }

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 12px;
}
    nav ul li a:hover {
        color: #fff;
        text-decoration: none;
    }
table {
  font-family: 'Montserrat', sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.addoffer{
  float: right;
  margin-right: 45px;

}

.addoffer button a{
  text-decoration: none;
}

button{
  background: #CCD1D9;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
}
